<div class="mt-10">
<% @users.each do |user| %>
  User email: <%= user.email %>,
  User Id: <%= user.id %>,
  Batch: <%= user.batches.ids %>,
  Flock: <%= user.flocks.ids %>,
  Income: <%= user.incomes.ids %>,
  Expense: <%= user.expenses.ids %>
  <br />
<% end %>
</div>