<div id="<%= dom_id income %>" class="overflow-x-auto">
  <table class="border-separate border-spacing-0.5 border border-slate-400 w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-blue-200 dark:bg-gray-700 dark:text-gray-400">
      <tr>
          <th scope="col" class="p-4">
              
          </th>
          <th scope="col" class="py-3">
              Batch No.
          </th>
          <th scope="col" class="py-3">
              Date
          </th>
          <th scope="col" class="py-3">
              Category
          </th>
          <th scope="col" class="py-3">
              Quantity
          </th>
          <th scope="col" class="py-3">
              Unit Price
          </th>
          <th scope="col" class="py-3">
              Total Income
          </th>
          <th scope="col" class="py-3">
              Description
          </th>
          <th scope="col" class="py-3">
              Action
          </th>
      </tr>
    </thead>
  <tbody>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
          <td class="w-4 p-4">
              <div class="flex items-center">
                  <input id="checkbox-table-search-1" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                  <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
              </div>
          </td>
          <th scope="row" class="py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            <%= income.batch.batch_no %>
          </th>
          <td class="py-4 pl-2">
            <%= income.date.strftime('%d %b %Y') %>
          </td>
          <td class="py-4 pl-2">
            <%= income.category.capitalize %>
          </td>
          <td class="py-4 pr-4 text-right">
            <%= income.quantity %>
          </td>
          <td class="py-4 pr-4 text-right">
            <%= income.unit_price %>
          </td>
          <td class="py-4 pr-4 text-right">
            <%= number_to_currency(income.amount, :unit => "") %>
          </td>
          <td class="py-4 pl-2">
            <%= income.description.capitalize %>
          </td>
          
          <td class="flex items-center py-4 pl-4">
            <%= link_to "back", incomes_path, class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-1 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>
            <%= link_to 'Edit', edit_income_path(income), class: 'text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-1 me-2 mb-2 dark:bg-gray-600 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800' %>
            <%= link_to 'Destroy', income, data: { turbo_method: "delete", turbo_confirm: 'Are you sure?' }, class: "text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-1 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 focus:outline-none dark:focus:ring-red-800" %>
          </td>
        
      </tr>
    </tbody>
  </table>
</div>
