
  <div class="w-full mt-14">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <div class="flex justify-between">
      <h1 class="font-bold text-3xl">Flocks</h1>
      <div class="flex gap-2">
        <%= link_to "Export Flock", flocks_path(format: :csv), class: "rounded-lg py-2 px-4 bg-blue-600 text-white block font-medium" %>
        <%= link_to "Create flock", new_flock_path, class: "rounded-lg py-2 px-4 bg-blue-600 text-white block font-medium" %>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/gh/alumuko/vanilla-datetimerange-picker@latest/dist/vanilla-datetimerange-picker.js"></script>

    <%= form_with url: flocks_path, class: "mt-5", method: :get do |form| %>  
      <div class="relative">
          <%= form.text_field :date_in_between, value: params[:date_in_between], 
                                        data: { controller: "daterangepicker" }, 
                                        class: "w-full block p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
          <span class="text-white absolute end-2.5 bottom-2.5 bg-green-400 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" >
            <%= form.submit "Search" %>
          </span>
      </div>
    <% end %>

    <h2>Import Flocks</h2>

  <%= form_tag import_flocks_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Submit" %>

  <% end %>

    <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-8">
    <table class="border-separate border-spacing-0.5 border border-slate-400 w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-blue-200 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="p-4">
                    
                </th>
                <th scope="col" class="py-3">
                    Batch No.
                </th>
                <th scope="col" class="py-3">
                    Date In
                </th>
                <th scope="col" class="py-3">
                    Retirement Date
                </th>
                <th scope="col" class="py-3">
                    Source
                </th>
                <th scope="col" class="py-3">
                    Initial Stock
                </th>
                <th scope="col" class="py-3">
                    Died Stock
                </th>
                <th scope="col" class="py-3">
                    Sold Stock
                </th>
                <th scope="col" class="py-3">
                    Current Stock
                </th>
                <th scope="col" class="py-3">
                    Age in Weeks
                </th>
                <th scope="col" class="py-3">
                    Notes
                </th>
                <th scope="col" class="py-3">
                    Status
                </th>
                <th scope="col" class="py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
          <% @flocks.each do |flock| %>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <td class="w-4 p-4">
                    <div class="flex items-center">
                        <input id="checkbox-table-search-1" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
                    </div>
                </td>
                <th scope="row" class="py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  <%= flock.batch.batch_no %>
                </th>
                <td class="py-4">
                  <%= flock.date_in.strftime('%d %b %Y') %>
                </td>
                <td class="py-4">
                  <%= flock.retirement_date.strftime('%d %b %Y') %>
                </td>
                <td class="py-4">
                  <%= flock.source %>
                </td>
                <td class="py-4">
                  <%= flock.initial_stock %>
                </td>
                <td class="py-4">
                  <%= flock.died_stock %>
                </td>
                <td class="py-4">
                  <%= flock.sold_stock %>
                </td>
                <td class="py-4">
                  <%= flock.current_stock %>
                </td>
                <td class="py-4">
                  <%= flock.age_in_weeks %>
                </td>
                <td class="py-4">
                  <%= flock.notes %>
                </td>
                <td class="py-4">
                  <%= flock.status %>
                </td>
                <td class="flex items-center py-4">
                  <%= link_to "Show", flock, class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-xs px-3 py-1 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>
                  <%= link_to 'Edit', edit_flock_path(flock), class: 'text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-xs px-3 py-1 me-2 mb-2 dark:bg-gray-600 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800' %>
                  <%= link_to 'Destroy', flock, data: { turbo_method: "delete", turbo_confirm: 'Are you sure?' }, class: "text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-xs px-3 py-1 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 focus:outline-none dark:focus:ring-red-800" %>
                </td>
            </tr>
          <% end %>
        </tbody>
    </table>
    </div>

    <div class="my-3">
      <span class="font-bold">Total Searched Flocks Per Page</span> = <%= @total_flocks %>
    </div>

    <div class="my-3">  
      <span class="font-bold">Total Searched Flocks = </span><%= @total_searched_flocks %>
    </div> 
    
    <div class="my-3">
      <span class="font-bold">Total All Flocks</span> = <%= @total_all_flocks %>
    </div>

    <div class="my-3">
      <span class="font-bold">Total Flocks Per Page</span> = <%= @total_flocks_per_page%>
    </div>

    <div>
      <%= paginate @flocks %>
    </div>
  </div>
