<h3 class="text-blue-700 text-2xl">All Flocks From This Batch</h3>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-8">
<table class="border-separate border-spacing-0.5 border border-slate-400 w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-blue-200 dark:bg-gray-700 dark:text-gray-400">
        <tr>
            <th scope="col" class="p-4 border border-slate-300">
                
            </th>
            <th scope="col" class="p-3 border border-slate-300">
                Batch No.
            </th>
            <th scope="col" class="p-3 border border-slate-300">
                Date In
            </th>
            <th scope="col" class="p-3 border border-slate-300">
                Retirement Date
            </th>
            <th scope="col" class="p-3 border border-slate-300">
                Source
            </th>
            <th scope="col" class="p-3 border border-slate-300">
                Initial Stock
            </th>
            <th scope="col" class="p-3 border border-slate-300">
                Died Stock
            </th>
            <th scope="col" class="p-3 border border-slate-300">
                Sold Stock
            </th>
            <th scope="col" class="p-3 border border-slate-300">
                Current Stock
            </th>
            <th scope="col" class="p-3 border border-slate-300">
                Age in Weeks
            </th>
            <th scope="col" class="p-3 border border-slate-300">
                Notes
            </th>
            <th scope="col" class="p-3 border border-slate-300">
                Status
            </th>
            <th scope="col" class="py-3 border border-slate-300">
                Action
            </th>
        </tr>
    </thead>
    <tbody>
      <% @batch.flocks.each do |flock| %>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
            <td class="w-4 p-4 border border-slate-300">
                <div class="flex items-center">
                    <input id="checkbox-table-search-1" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
                </div>
            </td>
            <th scope="row" class="py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              <%= flock.batch.batch_no %>
            </th>
            <td class="py-3 border border-slate-300">
              <%= flock.date_in.strftime('%d %b %Y') %>
            </td>
            <td class="py-3 border border-slate-300">
              <%= flock.retirement_date.strftime('%d %b %Y') %>
            </td>
            <td class="py-3 border border-slate-300">
              <%= flock.source %>
            </td>
            <td class="py-3 border border-slate-300">
              <%= flock.initial_stock %>
            </td>
            <td class="py-3 border border-slate-300">
              <%= flock.died_stock %>
            </td>
            <td class="py-3 border border-slate-300">
              <%= flock.sold_stock %>
            </td>
            <td class="py-3 border border-slate-300">
              <%= flock.current_stock %>
            </td>
            <td class="py-3 border border-slate-300">
              <%= flock.age_in_weeks %>
            </td>
            <td class="py-3 border border-slate-300">
              <%= flock.notes %>
            </td>
            <td class="py-3 border border-slate-300">
              <%= flock.status %>
            </td>
            <td class="flex items-center py-4 border border-slate-300">
              <%= link_to "Show", flock, class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-1 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>
              <%= link_to 'Edit', edit_flock_path(flock), class: "text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-1 me-2 mb-2 dark:bg-gray-600 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800" %>
              <%= link_to 'Destroy', flock, data: { turbo_method: "delete", turbo_confirm: 'Are you sure?' }, class: "text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-1 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 focus:outline-none dark:focus:ring-red-800" %>
            </td>
        </tr>
      <% end %>
    </tbody>
</table>
</div>


<h3 class="text-blue-700 text-2xl mt-6">All Income From This Batch</h3>


<div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-8">
    <table class="border-separate border-spacing-0.5 border border-slate-400 w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-blue-200 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="p-4">
                   
                </th>
                <th scope="col" class="py-3">
                    Batch No.
                </th>
                <th scope="col" class="py-3">
                    Date
                </th>
                <th scope="col" class="py-3">
                    Category
                </th>
                <th scope="col" class="py-3">
                    Quantity
                </th>
                <th scope="col" class="py-3">
                    Unit Price
                </th>
                <th scope="col" class="py-3">
                    Total Income
                </th>
                <th scope="col" class="py-3">
                    Description
                </th>
                <th scope="col" class="py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
          <% @batch.incomes.each do |income| %>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <td class="w-4 p-4">
                    <div class="flex items-center">
                        <input id="checkbox-table-search-1" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
                    </div>
                </td>
                <th scope="row" class="py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  <%= income.batch.batch_no %>
                </th>
                <td class="py-4">
                  <%= income.date.strftime('%d %b %Y') %>
                </td>
                <td class="py-4">
                  <%= income.category %>
                </td>
                <td class="py-4">
                  <%= income.quantity %>
                </td>
                <td class="py-4">
                  <%= income.unit_price %>
                </td>
                <td class="py-4">
                  <%= number_to_currency(income.amount, :unit => "") %>
                </td>
                <td class="py-4">
                  <%= income.description %>
                </td>
                
                <td class="flex items-center py-4">
                  <%= link_to "Show", income, class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-1 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>
                  <%= link_to 'Edit', edit_income_path(income), class: "text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-1 me-2 mb-2 dark:bg-gray-600 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800" %>
                  <%= link_to 'Destroy', income, data: { turbo_method: "delete", turbo_confirm: 'Are you sure?' }, class: "text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-1 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 focus:outline-none dark:focus:ring-red-800" %>
                </td>
            </tr>
          <% end %>
        </tbody>
    </table>
  </div>


  <h3 class="text-blue-700 text-2xl mt-6">All Expenses From This Batch</h3>

    <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-8">
    <table class="border-separate border-spacing-0.5 border border-slate-400 w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-blue-200 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="p-4">
                   
                </th>
                <th scope="col" class="py-3">
                    Batch No.
                </th>
                <th scope="col" class="py-3">
                    Date
                </th>
                <th scope="col" class="py-3">
                    Category
                </th>
                <th scope="col" class="py-3">
                    Quantity
                </th>
                <th scope="col" class="py-3">
                    Unit Price
                </th>
                <th scope="col" class="py-3">
                    Total Expense
                </th>
                <th scope="col" class="py-3">
                    Description
                </th>
                <th scope="col" class="py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
          <% @batch.expenses.each do |expense| %>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <td class="w-4 p-4">
                    <div class="flex items-center">
                        <input id="checkbox-table-search-1" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
                    </div>
                </td>
                <th scope="row" class="py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  <%= expense.batch.batch_no %>
                </th>
                <td class="py-4">
                  <%= expense.date.strftime('%d %b %Y') %>
                </td>
                <td class="py-4">
                  <%= expense.category %>
                </td>
                <td class="py-4">
                  <%= expense.quantity %>
                </td>
                <td class="py-4">
                  <%= expense.unit_price %>
                </td>
                <td class="py-4">
                  <%= number_to_currency(expense.total, :unit => "") %>
                </td>
                <td class="py-4">
                  <%= expense.description %>
                </td>
                
                <td class="flex items-center py-4">
                    <%= link_to "Show", expense, class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-1 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>
                    <%= link_to 'Edit', edit_expense_path(expense), class: "text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-1 me-2 mb-2 dark:bg-gray-600 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800" %>
                    <%= link_to 'Destroy', expense, data: { turbo_method: "delete", turbo_confirm: 'Are you sure?' }, class: "text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-1 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 focus:outline-none dark:focus:ring-red-800" %>
                </td>
            </tr>
          <% end %>
        </tbody>
    </table>
    </div>