<div class="mx-auto md:w-2/3 w-full mt-14">
  <div class="flex flex-col gap-3 sm:flex-row justify-between">
    <h1 class="font-bold text-3xl">Create Expense</h1>
    <%= link_to "Back to Expenses", expenses_path, class: "rounded-lg py-2 px-4 text-white bg-gray-600 text-sm" %>
  </div>

  <hr class="my-4" />

  <h2 class="mt-3">Import Expenses</h2>

  <%= form_tag bulk_add_data_expenses_path, multipart: true do %>
    <%= file_field_tag :xml_file %>
    <%= submit_tag "Submit" %>
  <% end %>

  <hr class="my-4" />

  <%= render "form", expense: @expense %>

</div>

