

<h3 class="font-bold text-3xl text-underline text-white text-center bg-blue-400">General Summary</h3>
  
    <div id="fullWidthTabContent" class="border-t border-gray-200 dark:border-gray-600">
        <div class="p-4 bg-white rounded-lg md:p-8 dark:bg-gray-800" id="stats" role="tabpanel" aria-labelledby="stats-tab">
            <dl class="grid max-w-screen-xl grid-cols-2 gap-4 p-4 mx-auto text-gray-900 sm:grid-cols-3 xl:grid-cols-6 dark:text-white sm:p-8">
                <div class="flex flex-col col-span-2 max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                  <div class="mx-auto">
                      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><%= @flocks.map(&:current_stock).sum %></h5>
                  </div>
                  <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-center">Total Flocks</p>
                  <%= link_to "Show Flocks", flocks_path, class: "inline-flex items-center mx-auto px-3 py-2 text-sm font-medium text-center text-white bg-blue-400 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
                </div>
                <div class="flex flex-col col-span-2 max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                  <div class="mx-auto">
                      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><%= number_to_currency(@incomes.map(&:amount).sum, precision: 0, :unit => "/=", :delimiter => ",", format: "%n %u") %></h5>
                  </div>
                  <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-center">Total Income</p>
                  <%= link_to "Show Incomes", incomes_path, class: "inline-flex items-center mx-auto px-3 py-2 text-sm font-medium text-center text-white bg-blue-400 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
                </div>
              
                <div class="flex flex-col col-span-2 max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                  <div class="mx-auto">
                      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><%= number_to_currency(@expenses.map(&:total).sum, precision: 0, :unit => "/=", :delimiter => ",", format: "%n %u") %></h5>
                  </div>
                  <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-center">Total Expense</p>
                  <%= link_to "Show Expenses", expenses_path, class: "inline-flex items-center mx-auto px-3 py-2 text-sm font-medium text-center text-white bg-blue-400 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
                </div>
            </dl>
            <dl class="grid max-w-screen-xl grid-cols-2 gap-4 p-4 mx-auto text-gray-900 sm:grid-cols-3 xl:grid-cols-6 dark:text-white sm:p-8">
                <div class="flex flex-col col-span-2 max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                    <h5 class="mb-2 text-2xl text-center font-bold tracking-tight text-gray-900 dark:text-white"><%= number_to_currency(@fixed_expenses.map(&:total).sum, precision: 0, :unit => "/=", :delimiter => ",", format: "%n %u") %></h5>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-center">Total Fixed Expense</p>
                    <%= link_to "Show Fixed Expenses", fixed_expenses_path, class: "inline-flex items-center mx-auto px-3 py-2 text-sm font-medium text-center text-white bg-blue-400 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
                </div>
                <div class="flex flex-col col-span-2 max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                    <h5 class="mb-2 mx-auto text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                      <% if @incomes.map(&:amount).sum > @expenses.map(&:total).sum %>
                      <span>
                        <strong><%= number_to_currency(@incomes.map(&:amount).sum - @expenses.map(&:total).sum, precision: 0, :unit => "/=", format: "%n %u") %><strong>
                      </span>
                      <% else %>
                        <span><strong> 0</strong></span>
                      <% end %>
                    </h5>
                    <p class="mb-3 font-bold text-center text-green-700 dark:text-green-400">Total Profit</p>
                </div>

                <div class="flex flex-col col-span-2 max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                  <h5 class="mb-2 mx-auto text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                    <% if @incomes.map(&:amount).sum < @expenses.map(&:total).sum %>
                      <span>
                        <strong><%= number_to_currency(@expenses.map(&:total).sum - @incomes.map(&:amount).sum, precision: 0, :unit => "/=", format: "%n %u")  %><strong>
                      </span>
                      <% else %>
                        <span><strong>0</strong></span>
                      <% end %>
                    </h5>
                    <p class="mb-3 font-bold text-red-700 dark:text-red-200 text-center">Total Loss</p>
                </div>
                
            </dl>
        </div>
    </div>
